reactNative/.idea
reactNative/android/.cxx
reactNative/android/.gradle
reactNative/android/.idea
reactNative/android/build
reactNative/example/android/.cxx
reactNative/example/android/.gradle
reactNative/example/android/.idea
reactNative/example/android/app/build
reactNative/example/android/build
reactNative/example/ios/ArmsaudioExample.xcworkspace/xcuserdata/andrei.xcuserdatad/
reactNative/example/node_modules
reactNative/node_modules
