.idea
android/.cxx
android/.gradle
android/.idea
android/build
example/android/.cxx
example/android/.gradle
example/android/.idea
example/android/app/build
example/android/build
example/ios/ArmsaudioExample.xcworkspace/xcuserdata/andrei.xcuserdatad/
example/node_modules
node_modules
